In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import scipy as sp
import scipy.stats as stats
import statsmodels.formula.api as smf

In [2]:
hmd = pd.read_csv("selected_hmd.csv", parse_dates = ["date"])

In [3]:
hmd['years_relative'] = hmd['date'].dt.year - 2020

In [4]:
hmd.drop(hmd[(hmd.country == 'GBR') & (hmd.year < 2015)].index, inplace = True)
hmd[(hmd.country == 'GBR')]

,Unnamed: 0.1,date,Unnamed: 0,country,week,year,DTotal,mov_avg,years_relative
22436,13334,2015-01-11,13334,GBR,1,2015,13430.0,11367.285714,-5
22469,13357,2015-01-18,13357,GBR,2,2015,18317.0,12486.000000,-5
22483,13380,2015-01-25,13380,GBR,3,2015,16735.0,13315.571429,-5
22535,13403,2015-02-01,13403,GBR,4,2015,15710.0,13939.428571,-5
22571,13426,2015-02-08,13426,GBR,5,2015,14559.0,14345.571429,-5
...,...,...,...,...,...,...,...,...,...
35347,13341,2022-01-09,13341,GBR,1,2022,13909.0,13241.857143,2
35379,13364,2022-01-16,13364,GBR,2,2022,15273.0,13542.857143,2
35402,13387,2022-01-23,13387,GBR,3,2022,14440.0,13695.714286,2
35406,13410,2022-01-30,13410,GBR,4,2022,13997.0,13749.000000,2
35416,13433,2022-02-06,13433,GBR,5,2022,1610.0,11961.571429,2

In [5]:
country_codes = ['AUS', 'AUT', 'BEL', 'BGR', 'HRV', 'CAN', 'CHL', 'CZE', 'DNK', 'GBR', 'EST',
 'FIN', 'FRA', 'DEU', 'GRC', 'HUN', 'ISL', 'ISR', 'ITA', 'LVA', 'LTU', 'LUX', 'NLD',
  'NZL', 'NOR', 'POL', 'PRT', 'KOR', 'RUS', 'SVN', 'SVK', 'ESP', 'CHE', 'SWE', 'TWN', 'USA']

#for country in country_codes:
#    for week_num in range(1,53):
#        training_set = hmd[(hmd.country == country) & (hmd.years_relative < 0) & (hmd.week == week_num)]
#        model =  smf.ols(formula='mov_avg~years_relative', data=training_set).fit()
#        hmd['pred_deaths'] = model.predict(hmd[(hmd.country == country) & (hmd.week == week_num)])

for country in country_codes:
  for i in range(1, 53):
    training_set = hmd[(hmd.country == country) & (hmd.years_relative < 0) & (hmd.week == i)]
    model =  smf.ols(formula='mov_avg~years_relative', data=training_set).fit()
    hmd.loc[(hmd.country == country) & (hmd.week == i), 'pred_deaths'] = model.predict(hmd[(hmd.country == country) & (hmd.week == i)])

In [6]:
hmd['excess_mortality'] = hmd['mov_avg'] - hmd['pred_deaths']

In [33]:
hmd

,Unnamed: 0.1,date,Unnamed: 0,country,week,year,DTotal,mov_avg,years_relative,pred_deaths,excess_mortality
0,10501,1990-01-07,10501,FIN,1,1990,1146.0,1146.000000,-30,993.782488,152.217512
1,10533,1990-01-14,10533,FIN,2,1990,1139.0,1142.500000,-30,1009.888018,132.611982
2,10565,1990-01-21,10565,FIN,3,1990,1185.0,1156.666667,-30,1020.113159,136.553507
3,10597,1990-01-28,10597,FIN,4,1990,1164.0,1158.500000,-30,1024.963902,133.536098
4,10629,1990-02-04,10629,FIN,5,1990,1103.0,1147.400000,-30,1022.074409,125.325591
...,...,...,...,...,...,...,...,...,...,...,...
35415,20609,2022-01-30,20609,LTU,4,2022,917.0,962.000000,2,851.896321,110.103679
35416,13433,2022-02-06,13433,GBR,5,2022,1610.0,11961.571429,2,12989.842857,-1028.271429
35417,7491,2022-02-06,7491,DNK,5,2022,1193.0,1236.428571,2,1067.978022,168.450549
35418,24108,2022-02-06,24108,NLD,5,2022,3450.0,3384.285714,2,3112.960176,271.325538
35419,9462,2022-02-06,9462,EST,5,2022,373.0,370.142857,2,291.146316,78.996541

In [7]:
hmd.to_csv('hmd_with_excess_mortality.csv')